<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm-12">
        <div class="page-sub-header">
          <h3 class="page-title">Skills</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/layout/aspirant-information/skills'"
                >Aspirant Information
              </a>
            </li>
            <li class="breadcrumb-item active">Skills</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card comman-shadow">
        <div class="card-body">
          <form (ngSubmit)="addSkill()" [formGroup]="addSkillsForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title aspirant-info">
                  Skills
                  <span
                    ><a href="javascript:;"
                      ><i class="feather-more-vertical"></i></a
                  ></span>
                </h5>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label>Skill<span class="login-danger">*</span></label>
                  <select
                    class="form-control select form-select"
                    formControlName="skill"
                  ><option>Select...</option>
                    <option *ngFor="let item of lstSkills">
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label
                    >Level of Experience: {{ valorSeleccionado }}%
                    <span class="login-danger">*</span></label
                  >
                  <mat-slider
                    min="0"
                    max="100"
                    step="1"
                    (input)="onSliderChange($event)"
                    formControlName="level"
                  ></mat-slider>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label
                    >years of experience<span class="login-danger"
                      >*</span
                    ></label
                  >
                  <select
                    class="form-control select form-select"
                    formControlName="experience"
                  >
                    <option *ngFor="let item of lstYears">
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="aspirant-submit">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 mb-5 center">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Skills List</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table star-aspirant table-hover table-center table-borderless table-striped"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Skill</th>
                <th>Level</th>
                <th>Years of experience</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let skill of skills; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ skill.skill }}</td>
                <td>{{ skill.level }} %</td>
                <td>{{ skill.experience }}</td>
                <td>
                  <a class="btn btn-sm bg-danger-light">
                    <i class="fe fe-edit-2"></i>
                  </a>
                  <a class="btn btn-sm bg-danger-light">
                    <i class="feather-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>Copyright © 2023 CodeTeam</p>
</footer>
<!-- /Footer -->
