<main class="main">
  <!-- Navigation-->
  <app-navbar></app-navbar>
  <!-- Header-->
  <header class="mt-5">
    <div class="container-Header">
      <div class="row gx-5 align-items-center">
        <div class="col-xxl-5">
          <!-- Header text content-->
          <div class="text-center text-xxl-start">
            <div class="help">
              ¡Join the Technological Revolution! V. Sprint 2.0 Stable
            </div>
            <h1 class="display-3 fw-bolder mb-5">
              <span class="text-gradient d-inline"
                >Discover your future in the world of technology</span
              >
            </h1>
            <div
              class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"
            >
              <a
                class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                (click)="joinow()"
                >Join Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-xxl-7">
          <!-- Header profile picture-->
        </div>
      </div>
    </div>
  </header>
  <!-- About Section-->
  <section class="bg-light py-5">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-xxl-8">
          <div class="text-center my-5">
            <h2 class="display-5 fw-bolder">
              <span class="text-gradient d-inline">About Us</span>
            </h2>
            <p class="lead fw-light mb-4">
              Leaders in professional connections in the IT sector.
            </p>
            <p class="text-muted">
              At ABC JOBS, we are committed to being the epicenter where
              business innovation and technological talent intersect. Our
              mission is to connect leading companies with motivated aspirants,
              creating mutually beneficial opportunities.
            </p>
            <div class="d-flex justify-content-center fs-2 gap-4">
              <a class="text-gradient" href="#!"
                ><i class="bi bi-twitter"></i
              ></a>
              <a class="text-gradient" href="#!"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a class="text-gradient" href="#!"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div
      class="row align-items-center justify-content-between flex-column flex-sm-row"
    >
      <div class="col-auto">
        <div class="small m-0">Copyright &copy; The CodeTeam 2023</div>
      </div>
      <div class="col-auto">
        <a class="small" href="#!">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Terms</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Contact</a>
      </div>
    </div>
  </div>
</footer>
