<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <perfect-scrollbar [scrollIndicators]="false">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li class="menu-title">
            <span>Main Menu</span>
          </li>

          <li [ngClass]="[activeRoute === 'dashboard' ? 'active' : 'submenu']">
            <a
              [ngClass]="[activeRoute === 'dashboard' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-th-large"></i> <span>Dashboard</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  (click)="setActive()"
                  routerLink="/layout/dashboard/dashboard-aspirant"
                  routerLinkActive="active"
                  >Aspirant Dashboard</a
                >
              </li>
            </ul>
          </li>

          <!-- Personal Information -->
          <li class="submenu">
            <a href="#"
              ><i class="fas fa-user-tie"></i> <span>Aspirant Information</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a
                  routerLink="/layout/aspirant-information/personal-information"
                  routerLinkActive="active"
                  >Personal information
                </a>
              </li>
              <li>
                <a
                  routerLink="/layout/aspirant-information/education"
                  routerLinkActive="active"
                  >Education</a
                >
              </li>
              <li>
                <a
                  routerLink="/layout/aspirant-information/work-experience"
                  routerLinkActive="active"
                  >Work Experience</a
                >
              </li>
              <li>
                <a
                  routerLink="/layout/aspirant-information/skills"
                  routerLinkActive="active"
                  >Skills</a
                >
              </li>
            </ul>
          </li>

          <!-- Projects -->
          <li class="submenu">
            <a href="#"
              ><i class="fas fa-project-diagram"></i> <span>Projects</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a [routerLink]="'#'" [class.active]="">My projects </a>
              </li>
            </ul>
          </li>

          <!-- Interviews -->
          <li class="submenu">
            <a href="#"
              ><i class="fas fas fa-camera"></i> <span>Interviews</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a [routerLink]="'/layout/interviews/aspirant-interviews'"  routerLinkActive="active">interview schedule </a>
              </li>
            </ul>
          </li>

          <!-- Tests -->
          <li class="submenu">
            <a href="#"
              ><i class="fas fa-question"></i> <span>Tests</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a [routerLink]="'/layout/tests/aspirant-test'" routerLinkActive="active">Results </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- /Sidebar -->
