<app-navbar></app-navbar>
<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <img class="img-fluid" src="assets/img/login.png" alt="Logo" />
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1 i18n>Welcome to ABC Jobs</h1>
            <p class="account-subtitle">
              Need an account? <a [routerLink]="'/register-type'">Sign Up</a>
            </p>
            <h2>Sign in</h2>
            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label>Email <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  placeholder="Email"
                  class="form-control"
                  type="text"
                  formControlName="email"
                  id="email"
                  [ngClass]="{
                    'is-invalid': f['email'].touched && f['email'].invalid
                  }"
                />
                <span class="profile-views"
                  ><i class="fas fa-user-circle"></i
                ></span>
                <div
                  class="invalid-feedback"
                  *ngIf="CustomControler?.status === 'email'"
                >
                  {{ CustomControler.message }}
                </div>
                <div
                  *ngIf="f['email'].touched && f['email'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="f['email'].errors && f['email'].errors['required']"
                  >
                    Email is required.
                  </div>
                  <div *ngIf="f['email'].errors && f['email'].errors['email']">
                    Please, enter valid email address.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="position-relative">
                  <label>Password <span class="login-danger">*</span></label>
                  <input
                    class="form-control"
                    [type]="Toggledata ? 'password' : 'text'"
                    formControlName="password"
                    id="password"
                    [ngClass]="{
                      'is-invalid':
                        f['password'].touched && f['password'].invalid
                    }"
                    placeholder="Password"
                  />
                  <span
                    [ngClass]="
                      Toggledata == true
                        ? 'fas toggle-password fa-eye'
                        : 'fas toggle-password fa-eye-slash'
                    "
                    (click)="iconLogle()"
                  ></span>
                </div>
                <div
                  *ngIf="f['password'].touched && f['password'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
                  >
                    Password is required.
                  </div>
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="CustomControler?.status === 'password'"
                >
                  {{ CustomControler.message }}
                </div>
              </div>
              <div class="forgotpass">
                <div class="remember-me">
                  <label
                    class="custom_check mr-2 mb-0 d-inline-flex remember-me"
                  >
                    Remember me
                    <input type="checkbox" name="radio" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <a [routerLink]="'/forgotpassword'">Forgot Password?</a>
              </div>
              <div class="form-group">
                <button
                  class="btn btn-primary w-100"
                  type="submit"
                  [disabled]="form.invalid"
                >
                  Login
                </button>
              </div>
            </form>
            <!-- /Form -->
            <!-- /Form -->

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">or</span>
            </div>

            <!-- Social Login -->
            <div class="social-login">
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <!-- /Social Login -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
          <div class="col-auto"><div class="small m-0">Copyright &copy; The CodeTeam 2023</div></div>
          <div class="col-auto">
              <a class="small" href="#!">Privacy</a>
              <span class="mx-1">&middot;</span>
              <a class="small" href="#!">Terms</a>
              <span class="mx-1">&middot;</span>
              <a class="small" href="#!">Contact</a>
          </div>
      </div>
  </div>
</footer>
