<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm-12">
        <div class="page-sub-header">
          <h3 class="page-title">Education</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a
                [routerLink]="
                  '/layout/aspirant-information/personal-information'
                "
                >Aspirant Information</a
              >
            </li>
            <li class="breadcrumb-item active">Education</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
      <div class="card comman-shadow">
        <div class="card-body">
          <form
            (ngSubmit)="addEducationInformation()"
            [formGroup]="educationForm"
          >
            <div class="row">
              <div class="col-12">
                <h5 class="form-title aspirant-info">
                  Education
                  <span
                    ><a href="javascript:;"
                      ><i class="feather-more-vertical"></i></a
                  ></span>
                </h5>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label
                    >Type of education<span class="login-danger">*</span></label
                  >
                  <select
                    class="form-control select form-select"
                    formControlName="typeEducation"
                  >
                    <option>Select</option>
                    <option>Formal</option>
                    <option>Informal</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label
                    >Level type of education<span class="login-danger"
                      >*</span
                    ></label
                  >
                  <select
                    class="form-control select form-select"
                    formControlName="level"
                  >
                    <option>Select</option>
                    <option>Undergraduate</option>
                    <option>Postgraduate</option>
                    <option>Specialization</option>
                    <option>Technical formation</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label>Program<span class="login-danger">*</span></label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Enter Program"
                    formControlName="title"
                  />
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label>Institution<span class="login-danger">*</span></label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Enter Institution Name"
                    formControlName="institution"
                  />
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label>graduate?<span class="login-danger">*</span></label>
                  <select
                    class="form-control select form-select"
                    formControlName="grade"
                    (ngModelChange)="endDateChange($event)"
                  >
                    <option>Select</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label>Start Date<span class="login-danger">*</span></label>
                  <input
                    type="date"
                    class="form-control"
                    [class.invalid]="
                      educationForm.get('startDate')?.invalid &&
                      educationForm.get('startDate')?.touched
                    "
                    formControlName="startDate"
                  />
                  <div
                    *ngIf="
                      educationForm.get('startDate')?.invalid &&
                      educationForm.get('startDate')?.touched
                    "
                  >
                    <small
                      *ngIf="
                        educationForm.get('startDate')?.invalid &&
                        educationForm.get('startDate')?.touched
                      "
                      class="text-danger"
                    >
                      *Start Date is required</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms" *ngIf="showEndDate">
                  <label>End Date<span class="login-danger">*</span></label>
                  <input
                    type="date"
                    class="form-control"
                    [class.invalid]="
                      educationForm.get('endDate')?.invalid &&
                      educationForm.get('endDate')?.touched
                    "
                    formControlName="endDate"
                  />
                  <div
                    *ngIf="
                      educationForm.get('endDate')?.invalid &&
                      educationForm.get('endDate')?.touched
                    "
                  >
                    <small
                      *ngIf="
                        educationForm.get('endDate')?.invalid &&
                        educationForm.get('endDate')?.touched
                      "
                      class="text-danger"
                    >
                      *End Date is required</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="aspirant-submit">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 mb-5 center">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Education List</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table star-aspirant table-hover table-center table-borderless table-striped"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Type Education</th>
                <th>Level</th>
                <th>Program</th>
                <th>Graduate</th>
                <th>institution</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let edu of educations; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ edu.typeEducation }}</td>
                <td>{{ edu.level }}</td>
                <td>{{ edu.title }}</td>
                <td>{{ edu.grade ? "Yes" : "No" }}</td>
                <td>{{ edu.institution }}</td>
                <td>{{ edu.startDate | date : "yyyy-MMM-dd" }}</td>
                <td>{{ edu.endDate | date : "yyyy-MMM-dd" }}</td>
                <td>
                  <a class="btn btn-sm bg-danger-light">
                    <i class="fe fe-edit-2"></i>
                  </a>
                  <a class="btn btn-sm bg-danger-light">
                    <i class="feather-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>Copyright © 2023 CodeTeam</p>
</footer>
<!-- /Footer -->
