<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-sub-header">
          <h3 class="page-title">Search Aspirants</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/layout/aspirants/aspirants-list'">Search Aspirants</a>
            </li>
            <li class="breadcrumb-item active">All Aspirants</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <form [formGroup]="searchForm">
    <div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Search aspirant for skill<span class="login-danger">*</span></label>
            <select
              class="form-control select form-select align-items-center"
              formControlName="skill"
              placeholder="Search by Skill ..."
              (change)="onSkillSelectionChange($event)"
            >
              <option *ngFor="let item of lstSkills" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="form-group search-aspirant-btn">
            <button type="button" class="btn btn-primary align-self-end" (click)="search()">
              Search
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>


  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table comman-shadow">
        <div class="card-body">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Aspirants List</h3>
              </div>
              <div
                class="col-auto text-end float-end ms-auto download-grp"
              ></div>
            </div>
          </div>
          <!-- /Page Header -->

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table">
                <div class="table-responsive">
                  <table datatable class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        <th>
                          <div class="form-check check-tables">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="something"
                            />
                          </div>
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Lastname</th>
                        <th>Skill</th>
                        <th>Country</th>
                        <th>Telephone</th>
                        <th class="text-end">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let aspirants of lstaspirants | slice : 0 : 10;
                          let i = index
                        "
                      >
                        <td>
                          <div class="form-check check-tables">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="something"
                            />
                          </div>
                        </td>
                        <td>{{ aspirants.idUser }}</td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="
                                '/layout/aspirants/aspirants-details'
                              "
                              class="avatar avatar-sm me-2"
                              ><img
                                class="avatar-img rounded-circle"
                                src="assets/img/profiles/avatar-0{{
                                  i + 1
                                }}.jpg"
                                alt="User Image"
                            /></a>
                            <a
                              [routerLink]="
                                '/layout/aspirants/aspirants-details'
                              "
                              >{{ aspirants.name }}</a
                            >
                          </h2>
                        </td>
                        <td>{{ aspirants.lastName }}</td>
                        <td>{{ aspirants.skill }}</td>
                        <td>{{ aspirants.country }}</td>
                        <td>{{ aspirants.telephone }}</td>
                        <td class="text-end">
                          <div class="actions">
                            <a
                              routerLink="/layout/aspirants/profile-aspirant/{{
                                aspirants.idUser
                              }}"
                              class="btn btn-sm bg-success-light me-2"
                            >
                              <i class="feather-eye"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>COPYRIGHT © 2023 CODETEAM</p>
</footer>
<!-- /Footer -->
