<!-- Page Wrapper -->

<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-sub-header">
          <h3 class="page-title">Welcome {{ username }}!</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/layout/dashboard/dashboard-aspirant'">Home</a>
            </li>
            <li class="breadcrumb-item active">Aspirant</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Overview Section -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center"
          >
            <div class="db-info">
              <h6>Projects</h6>
              <h3>15</h3>
            </div>
            <div class="db-icon">
              <img
                class="icon"
                src="assets/img/icons/projects.png"
                alt="Dashboard Icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center"
          >
            <div class="db-info">
              <h6>Performance</h6>
              <h3>90%</h3>
            </div>
            <div class="db-icon">
              <img
                class="icon"
                src="assets/img/icons/percent.png"
                alt="Dashboard Icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center"
          >
            <div class="db-info">
              <h6>Companies</h6>
              <h3>30</h3>
            </div>
            <div class="db-icon">
              <img
                class="icon"
                src="assets/img/icons/company.png"
                alt="Dashboard Icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center"
          >
            <div class="db-info">
              <h6>Revenue</h6>
              <h3>$505</h3>
            </div>
            <div class="db-icon">
              <img
                class="icon"
                src="assets/img/icons/money-bag.png"
                alt="Dashboard Icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Overview Section -->

  <div class="row">
    <div class="col-md-12 col-lg-12 mb-3 pimg">
      <img
        class="dashboardimg"
        src="assets/img/dashboard-aspirant.png"
        width="100%"
        alt="Dashboard Aspirant"
      />
    </div>
    <!-- section 2
    <div class="col-md-12 col-lg-6">
    </div>
  --></div>

  <div class="row">
    <div class="col-xl-12 d-flex">
      <!-- Star applicants -->
      <div class="card flex-fill aspirant-space comman-shadow">
        <div class="card-header d-flex align-items-center">
          <h5 class="card-title">Last Projects</h5>
          <ul class="chart-list-out aspirant-ellips">
            <li class="star-menus">
              <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table star-aspirant table-hover table-center table-borderless table-striped"
            >
              <thead class="thead-light">
                <tr>
                  <th>ID</th>
                  <th>Project Name</th>
                  <th class="text-center">Company</th>
                  <th class="text-center">Performance</th>
                  <th class="text-end">Year</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-nowrap">
                    <div>ABC2209</div>
                  </td>
                  <td class="text-nowrap">
                    <a [routerLink]="'/layout/profile/profile-main'">
                      <img
                        class="rounded-circle"
                        src="assets/img/profiles/avatar-02.jpg"
                        width="25"
                        alt="Star applicants"
                      />
                      Smart Cities
                    </a>
                  </td>
                  <td class="text-center">TechFusion Solutions</td>
                  <td class="text-center">98%</td>
                  <td class="text-end">
                    <div>2019</div>
                  </td>
                </tr>
                <tr>
                  <td class="text-nowrap">
                    <div>ABC1245</div>
                  </td>
                  <td class="text-nowrap">
                    <a [routerLink]="'/layout/profile/profile-main'">
                      <img
                        class="rounded-circle"
                        src="assets/img/profiles/avatar-01.jpg"
                        width="25"
                        alt="Star applicants"
                      />
                      Autonomous Vehicles
                    </a>
                  </td>
                  <td class="text-center">InnoTech Innovations</td>
                  <td class="text-center">99.5%</td>
                  <td class="text-end">
                    <div>2018</div>
                  </td>
                </tr>
                <tr>
                  <td class="text-nowrap">
                    <div>ABC1625</div>
                  </td>
                  <td class="text-nowrap">
                    <a [routerLink]="'/layout/profile/profile-main'">
                      <img
                        class="rounded-circle"
                        src="assets/img/profiles/avatar-03.jpg"
                        width="25"
                        alt="Star applicants"
                      />
                      AI in Healthcare
                    </a>
                  </td>
                  <td class="text-center">VeloCore Labs</td>
                  <td class="text-center">99.6%</td>
                  <td class="text-end">
                    <div>2017</div>
                  </td>
                </tr>
                <tr>
                  <td class="text-nowrap">
                    <div>ABC2516</div>
                  </td>
                  <td class="text-nowrap">
                    <a [routerLink]="'/layout/profile/profile-main'">
                      <img
                        class="rounded-circle"
                        src="assets/img/profiles/avatar-04.jpg"
                        width="25"
                        alt="Star applicants"
                      />
                      Energy Storage
                    </a>
                  </td>
                  <td class="text-center">CyberNex Systems</td>
                  <td class="text-center">98.2%</td>
                  <td class="text-end">
                    <div>2016</div>
                  </td>
                </tr>
                <tr>
                  <td class="text-nowrap">
                    <div>ABC2209</div>
                  </td>
                  <td class="text-nowrap">
                    <a [routerLink]="'/layout/profile/profile-main'">
                      <img
                        class="rounded-circle"
                        src="assets/img/profiles/avatar-05.jpg"
                        width="25"
                        alt="Star applicants"
                      />
                      VR/AR Technology
                    </a>
                  </td>
                  <td class="text-center">DataVista Technologies</td>
                  <td class="text-center">98%</td>
                  <td class="text-end">
                    <div>2015</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /Star applicants -->
    </div>

    <div class="col-xl-6 d-flex"></div>
  </div>

  <!-- Socail Media Follows -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card flex-fill fb sm-box">
        <div class="social-likes">
          <p>Like us on facebook</p>
          <h6>50,095</h6>
        </div>
        <div class="social-boxs">
          <img src="assets/img/icons/social-icon-01.svg" alt="Social Icon" />
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card flex-fill twitter sm-box">
        <div class="social-likes">
          <p>Follow us on twitter</p>
          <h6>48,596</h6>
        </div>
        <div class="social-boxs">
          <img src="assets/img/icons/social-icon-02.svg" alt="Social Icon" />
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card flex-fill insta sm-box">
        <div class="social-likes">
          <p>Follow us on instagram</p>
          <h6>52,085</h6>
        </div>
        <div class="social-boxs">
          <img src="assets/img/icons/social-icon-03.svg" alt="Social Icon" />
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card flex-fill linkedin sm-box">
        <div class="social-likes">
          <p>Follow us on linkedin</p>
          <h6>69,050</h6>
        </div>
        <div class="social-boxs">
          <img src="assets/img/icons/social-icon-04.svg" alt="Social Icon" />
        </div>
      </div>
    </div>
  </div>
  <!-- /Socail Media Follows -->

  <!-- Footer -->
  <footer>
    <p>Copyright © 2023 CodeTeam</p>
  </footer>
  <!-- /Footer -->
</div>
<!-- /Page Wrapper -->
