.card-img-top{
  width:150px;
  height:150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: 100%;
  margin-right: auto;
}


.rating {
  display: flex;
  flex-direction: row-reverse; /* Cambiado a row-reverse para que las estrellas se alineen a la izquierda */
  justify-content: flex-start; /* Alineación a la izquierda */


}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url('/assets/img/icons/estrella.png');
  background-size: cover;
  margin-right: 5px; /* Espacio entre las estrellas */
}

.rating input:checked ~ label {
  background-color: yellow;
}
