<div class="container">
  <header>
    <div class="type-header p-3 pb-md-4 mx-auto mt-5 text-center">
      <h3 >Welcome to ABCJOBS</h3>
      <p class="register">Already Registered? <a [routerLink]="'/login'">Login</a></p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Aspirant</h4>
          </div>
          <div class="card-body">

            <ul class="list-unstyled mt-3 mb-4">
              <img class="img" src="assets/img/usuario.png" alt="User">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="aspirantRegister()">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Company</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <img class="img" src="assets/img/edificio.png" alt="User">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"  (click)=companyRegister()>Get started</button>
          </div>
        </div>
      </div>

    </div>

