<app-navbar></app-navbar>

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <img class="img-fluid" src="assets/img/login.png" alt="Logo" />
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>{{ titleRegister }} Sign Up</h1>
            <p class="account-subtitle">Enter details to create your account</p>

            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label>Username <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="username"
                  id="username"
                  [ngClass]="{
                    'is-invalid': f['username'].touched && f['username'].invalid
                  }"
                />
                <span class="profile-views"
                  ><i class="fas fa-user-circle"></i
                ></span>
              </div>

              <div class="form-group">
                <label>Email <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="email"
                  id="email"
                  [ngClass]="{
                    'is-invalid': f['email'].touched && f['email'].invalid
                  }"
                />
                <span class="profile-views"
                  ><i class="fas fa-envelope"></i
                ></span>
                <div
                  *ngIf="f['email'].touched && f['email'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="f['email'].errors && f['email'].errors['required']"
                  >
                    Email is required.
                  </div>
                </div>
                <div *ngIf="CustomControler != 0" class="invalid-feedback">
                  {{ CustomControler }}
                </div>
              </div>
              <div class="form-group">
                <label>Password <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  [type]="Toggledata ? 'password' : 'text'"
                  formControlName="password"
                  id="password"
                  [ngClass]="{
                    'is-invalid': f['password'].touched && f['password'].invalid
                  }"
                />
                <span
                  [ngClass]="
                    Toggledata == false
                      ? 'fas toggle-password fa-eye'
                      : 'fas toggle-password fa-eye-slash'
                  "
                  (click)="iconLogle()"
                ></span>
                <div
                  *ngIf="f['password'].touched && f['password'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
                  >
                    Password is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label
                  >Confirm password <span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  [type]="Toggledata ? 'password' : 'text'"
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      f['confirmPassword'].touched &&
                      f['confirmPassword'].invalid
                  }"
                />
                <span
                  [ngClass]="
                    Toggledata == false
                      ? 'fas toggle-password fa-eye'
                      : 'fas toggle-password fa-eye-slash'
                  "
                  (click)="iconLogle()"
                ></span>
                <div
                  *ngIf="
                    f['confirmPassword'].touched && f['confirmPassword'].invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      f['confirmPassword'].errors &&
                      f['confirmPassword'].errors['required']
                    "
                  >
                    Confirm Password is required.
                  </div>
                </div>
                <div *ngIf="isvalidconfirmpassword" class="invalid-feedback">
                  Password not matching
                </div>
              </div>
              <div class="dont-have">
                Already Registered? <a [routerLink]="'/login'">Login</a>
              </div>
              <div class="form-group mb-0">
                <button
                  class="btn btn-primary w-100"
                  type="submit"
                  [disabled]="form.invalid"
                >
                  Register
                </button>
              </div>
            </form>
            <!-- /Form -->

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">or</span>
            </div>

            <!-- Social Login -->
            <div class="social-login">
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <!-- /Social Login -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div
      class="row align-items-center justify-content-between flex-column flex-sm-row"
    >
      <div class="col-auto">
        <div class="small m-0">Copyright &copy; The CodeTeam 2023</div>
      </div>
      <div class="col-auto">
        <a class="small" href="#!">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Terms</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Contact</a>
      </div>
    </div>
  </div>
</footer>
